[submodule "third_party/executorch"]
	path = third_party/executorch
	url = https://github.com/pytorch/executorch
[submodule "third_party/models/Llama3.2-1B"]
	path = third_party/models/Llama3.2-1B
	url = https://huggingface.co/meta-llama/Llama-3.2-1B
